<script>
  var user = {{{user}}};
  console.log(user);
</script>

<form method="post" action="/send">
  <label for="address">Email</label>
  <input type="email" name="address">
  <label for="subject">Subject</label>
  <input type="text" name="subject">
  <label for="message"></label>
  <textarea name="message" id="" cols="30" rows="10"></textarea>

  <input type="submit">
</form>